src/**
*.ts
*.map

test/**
out/test/**

node_modules/**
!node_modules/@babel/parser/**
!node_modules/@babel/traverse/**

.gitignore
.eslintrc.json
.vscodeignore
webpack.config.js
webpack.prod.js
tsconfig.json

**/*.map
**/*.ts